# Homework #2

## Question #1

There are four text files in the data folder

* Atat√ºrk's "Nutuk" in Turkish
* Dicken's novel "Great Expectations" in English
* Flauberts' novel "Madam Bovary" in French
* A text file `unknown.txt` in an unknown language

Your tasks are

* Calculate how many times each character (letter) appear in each text.
* Calculate the character distributions, i.e. using the character counts, calculate the probability of each character appearing in the text.
* Find the set of characters common to all three texts.
* Using the common set and the KL-divergence, show that each language have different character distributions.
* Determine the language of the text file `unknown.txt` KL-divergence measure.

In [8]:
from urllib.request import urlopen
from collections import Counter
from re import sub

nutuk=open('ataturk_nutuk.txt','r+',encoding='utf-8')
processed = sub('[^a-z ]','',nutuk).split()



# for letter in processed:
#     print(letter)
    
    
# len(set(processed))

TypeError: expected string or bytes-like object

## Question #2

For this question consider the [Car Evaluation Data Set](https://archive.ics.uci.edu/ml/datasets/Car+Evaluation) from UCI. Here is the [direct link](https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data) to the dataset.

Make [contingency tables](https://en.wikipedia.org/wiki/Contingency_table#:~:text=In%20statistics%2C%20a%20contingency%20table,%2C%20engineering%2C%20and%20scientific%20research.) of the columns (using [`crosstab`](https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html) function from [pandas](https://pandas.pydata.org)) and figure out which pairs of columns are dependent and independent. Explain your result using statistical tests.

In [16]:
import pandas as pd

dataset = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data",sep=',', header=None)
dataset

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
5     vhigh  vhigh      2     2    med  high  unacc
6     vhigh  vhigh      2     2    big   low  unacc
7     vhigh  vhigh      2     2    big   med  unacc
8     vhigh  vhigh      2     2    big  high  unacc
9     vhigh  vhigh      2     4  small   low  unacc
10    vhigh  vhigh      2     4  small   med  unacc
11    vhigh  vhigh      2     4  small  high  unacc
12    vhigh  vhigh      2     4    med   low  unacc
13    vhigh  vhigh      2     4    med   med  unacc
14    vhigh  vhigh      2     4    med  high  unacc
15    vhigh  vhigh      2     4    big   low  unacc
16    vhigh  vhigh      2     4    big   med  unacc
17    vhigh  vhigh      2     4    big  high  unacc
18    vhigh  vhigh      2  more  small   low  unacc
19    vhigh  vhigh      2  more  small   med  unacc
20    vhigh  vhigh      2  more  small  high  unacc
21    vhigh  vhigh      2  more    med   low  unacc
22    vhigh  vhigh      2  more    med   med  unacc
23    vhigh  vhigh      2  more    med  high  unacc
24    vhigh  vhigh      2  more    big   low  unacc
25    vhigh  vhigh      2  more    big   med  unacc
26    vhigh  vhigh      2  more    big  high  unacc
27    vhigh  vhigh      3     2  small   low  unacc
28    vhigh  vhigh      3     2  small   med  unacc
29    vhigh  vhigh      3     2  small  high  unacc
...     ...    ...    ...   ...    ...   ...    ...
1698    low    low      4  more    big   low  unacc
1699    low    low      4  more    big   med   good
1700    low    low      4  more    big  high  vgood
1701    low    low  5more     2  small   low  unacc
1702    low    low  5more     2  small   med  unacc
1703    low    low  5more     2  small  high  unacc
1704    low    low  5more     2    med   low  unacc
1705    low    low  5more     2    med   med  unacc
1706    low    low  5more     2    med  high  unacc
1707    low    low  5more     2    big   low  unacc
1708    low    low  5more     2    big   med  unacc
1709    low    low  5more     2    big  high  unacc
1710    low    low  5more     4  small   low  unacc
1711    low    low  5more     4  small   med    acc
1712    low    low  5more     4  small  high   good
1713    low    low  5more     4    med   low  unacc
1714    low    low  5more     4    med   med   good
1715    low    low  5more     4    med  high  vgood
1716    low    low  5more     4    big   low  unacc
1717    low    low  5more     4    big   med   good
1718    low    low  5more     4    big  high  vgood
1719    low    low  5more  more  small   low  unacc
1720    low    low  5more  more  small   med    acc
1721    low    low  5more  more  small  high   good
1722    low    low  5more  more    med   low  unacc
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]

In [29]:
a = pd.crosstab(dataset[0],dataset[1])
b = pd.crosstab(dataset[0],dataset[2])
c = pd.crosstab(dataset[0],dataset[3])
d = pd.crosstab(dataset[0],dataset[4])
e = pd.crosstab(dataset[0],dataset[5])
f = pd.crosstab(dataset[0],dataset[6])

g = pd.crosstab(dataset[1],dataset[2])
h = pd.crosstab(dataset[2],dataset[3])
i = pd.crosstab(dataset[3],dataset[4])
j = pd.crosstab(dataset[4],dataset[5])
k = pd.crosstab(dataset[5],dataset[6])

l = pd.crosstab(dataset[1],dataset[3])
m = pd.crosstab(dataset[2],dataset[4])
n = pd.crosstab(dataset[3],dataset[5])
o = pd.crosstab(dataset[4],dataset[6])

p = pd.crosstab(dataset[1],dataset[4])
r = pd.crosstab(dataset[2],dataset[5])
s = pd.crosstab(dataset[3],dataset[6])

x = pd.crosstab(dataset[1],dataset[5])
y = pd.crosstab(dataset[2],dataset[6])

z = pd.crosstab(dataset[1],dataset[6])

In [49]:
from scipy.stats import chisquare

print(chisquare(a,axis=None))
print(chisquare(b,axis=None))
print(chisquare(c,axis=None))
print(chisquare(d,axis=None))
print(chisquare(e,axis=None))
print(chisquare(f,axis=None))
print(chisquare(g,axis=None))
print(chisquare(h,axis=None))
print(chisquare(i,axis=None))
print(chisquare(j,axis=None))
print(chisquare(k,axis=None))
print(chisquare(l,axis=None))
print(chisquare(m,axis=None))
print(chisquare(n,axis=None))
print(chisquare(o,axis=None))
print(chisquare(p,axis=None))
print(chisquare(r,axis=None))
print(chisquare(s,axis=None))
print(chisquare(x,axis=None))
print(chisquare(y,axis=None))
print(chisquare(z,axis=None))

Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=2122.0, pvalue=0.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=2104.4814814814813, pvalue=0.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=2554.0555555555557, pvalue=0.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=2059.4444444444443, pvalue=0.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=2515.847222222222, pvalue=0.0)
Power_divergenceResult(statistic=0.0, pvalue=1.0)
Power_divergenceResult(statistic=2034.0, pvalue=0.0)
Power_divergenceResult(statistic=2104.4814814814813, pvalue=0.0)

The results show that the p values, that are equal to zero, containts columns that are dependent to each other.

In [58]:
result = [a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,r,s,x,y,z]

for i in result:
    if chisquare(i,axis=None).pvalue !=1 :
        print(chisquare(i,axis=None))

Power_divergenceResult(statistic=2122.0, pvalue=0.0)
Power_divergenceResult(statistic=2104.4814814814813, pvalue=0.0)
Power_divergenceResult(statistic=77.0, pvalue=1.2605493982776271e-08)
Power_divergenceResult(statistic=2554.0555555555557, pvalue=0.0)
Power_divergenceResult(statistic=2059.4444444444443, pvalue=0.0)
Power_divergenceResult(statistic=2515.847222222222, pvalue=0.0)
Power_divergenceResult(statistic=2034.0, pvalue=0.0)
Power_divergenceResult(statistic=2104.4814814814813, pvalue=0.0)

## Question #3

For this question, use [Default of Credit Card Clients Data Set]() from UCI. Here is the [direct link](https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls) to the dataset.

Your tasks are

* Inspect the dataset.
* Would it be appropriate to form a linear regression model to predict the `default payment next month` variable? Explain.
* Form a [contingency table](https://en.wikipedia.org/wiki/Contingency_table#:~:text=In%20statistics%2C%20a%20contingency%20table,%2C%20engineering%2C%20and%20scientific%20research.) of the columns `SEX` vs `default payment next month` and `EDUCATION` vs `default payment next month`.
* Are there statistically verifiable relationships between credit card defaults, the gender of and the education level the borrower? Which is stronger? Quantify your analysis using [Chi Square Test](https://en.wikipedia.org/wiki/Chi-squared_test).

In [74]:
import pandas as pd
import numpy as np

dataset = pd.read_excel (r'https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls', header = 1)
dataset

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
5,6,50000,1,1,2,37,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
6,7,500000,1,1,2,29,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
7,8,100000,2,2,2,23,0,-1,-1,0,...,221,-159,567,380,601,0,581,1687,1542,0
8,9,140000,2,3,1,28,0,0,2,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
9,10,20000,1,3,2,35,-2,-2,-2,-2,...,0,13007,13912,0,0,0,13007,1122,0,0
10,11,200000,2,3,2,34,0,0,2,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
11,12,260000,2,1,2,51,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
12,13,630000,2,2,2,41,-1,0,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
13,14,70000,1,2,2,30,1,2,2,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
14,15,250000,1,1,2,29,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
15,16,50000,2,3,3,23,1,2,0,0,...,28771,29531,30211,0,1500,1100,1200,1300,1100,0
16,17,20000,1,1,2,24,0,0,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
17,18,320000,1,1,1,49,0,0,0,-1,...,70074,5856,195599,10358,10000,75940,20000,195599,50000,0
18,19,360000,2,1,1,49,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
19,20,180000,2,1,2,29,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
20,21,130000,2,3,2,39,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
21,22,120000,2,2,1,39,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,1
22,23,70000,2,2,2,26,2,0,0,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
23,24,450000,2,1,1,40,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,1
24,25,90000,1,1,2,23,0,0,0,-1,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
25,26,50000,1,3,2,23,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
26,27,60000,1,1,2,27,1,-2,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,1
27,28,50000,2,3,2,30,0,0,0,0,...,17878,18931,19617,1300,1300,1000,1500,1000,1012,0
28,29,50000,2,3,1,47,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
29,30,50000,1,1,2,26,0,0,0,0,...,17907,18375,11400,1500,1500,1000,1000,1600,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,29971,360000,1,1,1,34,-1,-1,-1,0,...,49005,8676,19487,52951,64535,8907,53,19584,16080,0
29971,29972,80000,1,3,1,36,0,0,0,0,...,69674,71070,73612,2395,2500,2530,2556,3700,3000,0
29972,29973,190000,1,1,1,37,0,0,0,0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
29973,29974,230000,1,2,1,35,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
29974,29975,50000,1,2,1,37,1,2,2,2,...,2846,1585,1324,0,3000,0,0,1000,1000,1
29975,29976,220000,1,2,1,41,0,0,-1,-1,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
29976,29977,40000,1,2,2,47,2,2,3,2,...,51259,47151,46934,4000,0,2000,0,3520,0,1
29977,29978,420000,1,1,2,34,0,0,0,0,...,141695,144839,147954,7000,7000,5500,5500,5600,5000,0
29978,29979,310000,1,2,1,39,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
29979,29980,180000,1,1,1,32,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29980,29981,50000,1,3,2,42,0,0,0,0,...,50360,19971,19694,10000,4000,5000,3000,4500,2000,0
29981,29982,50000,1,2,1,44,1,2,2,2,...,28192,22676,14647,2300,1700,0,517,503,585,0
29982,29983,90000,1,2,1,36,0,0,0,0,...,11328,12036,14329,1500,1500,1500,1200,2500,0,1
29983,29984,20000,1,2,1,44,-2,-2,-2,-2,...,2882,9235,1719,2890,2720,2890,9263,1824,1701,0
29984,29985,30000,1,2,2,38,-1,-1,-2,-1,...,1993,1907,3319,923,2977,1999,3057,3319,1000,0
29985,29986,240000,1,1,2,30,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29986,29987,360000,1,1,2,35,-1,-1,-2,-2,...,0,0,0,0,0,0,0,0,0,0
29987,29988,130000,1,1,2,34,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
29988,29989,250000,1,1,1,34,0,0,0,0,...,245750,175005,179687,65000,8800,9011,6000,7000,6009,0
29989,29990,150000,1,1,2,35,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
29990,29991,140000,1,2,1,41,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
29991,29992,210000,1,2,1,34,3,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
29992,29993,10000,1,3,1,43,0,0,0,-2,...,0,0,0,2000,0,0,0,0,0,0
29993,29994,100000,1,1,2,38,0,-1,-1,0,...,70626,69473,55004,2000,111784,4000,3000,2000,2000,0
29994,29995,80000,1,2,2,34,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [75]:
print(dataset.isnull().values.any())
print(dataset.isnull().sum().sum())

False
0

It would not be appropriate to form a linear regression model to predict the `default payment next month` variable, because the variable is binary, therefore classification or clustering methods are more appropriate.

In [87]:
sex = np.array(dataset.iloc[:,2])
edu = np.array(dataset.iloc[:,3])
y = np.array(dataset.iloc[:,-1])

Result1 = pd.crosstab(sex,y)
Result2 = pd.crosstab(edu,y)

In [85]:
Result1

col_0      0     1
row_0
1       9015  2873
2      14349  3763

In [86]:
Result2

col_0      0     1
row_0
0         14     0
1       8549  2036
2      10700  3330
3       3680  1237
4        116     7
5        262    18
6         43     8

## Question #4

For this question, use the [Iris Dataset](https://archive.ics.uci.edu/ml/datasets/iris) from UCI.  Here is the [direct link](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data) to the dataset.

Your tasks are

* Form a [K-NN](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html) model for this dataset.
* Test your model on random samples of your data and calculate its accuracy.
* Repeat your calculation 100 times and give an interval of accuracy values leaving the best 2.5% and worst 2.5% accuracy values.
* Is there a better way of doing this without repeating the calculation 100 times? Explain.
* Find the best parameter $k$ for your dataset for the K-NN model.

## Question #5

For this question, we are going to use [Concrete Slump Test Dataset](https://archive.ics.uci.edu/ml/datasets/Concrete+Slump+Test) from UCI. Here is the [direct link](https://archive.ics.uci.edu/ml/machine-learning-databases/concrete/slump/slump_test.data) to the dataset.

Your tasks are

* Form three separate linear regression model for the following dependent variables:

  - SLUMP (cm)
  - FLOW (cm)
  - 28-day Compressive Strength (Mpa)
  
* Compare how well these models fit.